@import '../../styles/responsive';

.toolbar {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: var(--primary);
  gap: 10px;

  .logoField,
  .profileField {
    display: flex;
    align-items: center;
    width: 15%;
    min-width: 220px;
    gap: 15px;

    h2{
      cursor: pointer;

      @include custom-breakpoint(lg) {
        font-size: 14px;
      }
    }

    .portfeil,
    .profile {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    @include custom-breakpoint(lg) {
      min-width: 30px;
      width: 15%;
      gap: 5px;
    }
  }

  .profileField {
    @include custom-breakpoint(lg) {
      min-width: 30px;
      width: 35%;
      gap: 5px;
    }
  }

  .searchBar {
    width: 70%;
    display: flex;
    align-items: center;

    @include custom-breakpoint(lg) {
      width: 50%;
    }
  }

  @include custom-breakpoint(lg) {
    padding: 0 3%;
  }
}
