@import '../../styles/responsive';

.productListContainer {
  width: 70%;
  height: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include custom-breakpoint(lg) {
    width: 100%;
  }

  .productList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 15px;
    height: 100%;
    width: 100%;
    position: relative;
    min-height: calc(100vh - 200px);

    &.disableJustify {
      justify-content: flex-start;
    }

    @include custom-breakpoint(xxl) {
      width: 100%;
    }
    
    @include custom-breakpoint(xxxl) {
      width: 80%;
    }

    
  }

  .paginationBar {
    position: fixed;
    bottom: 10px;

    &.Mui-selected {
      background-color: var(--body-color);
    }

    @include custom-breakpoint(lg) {
      position: relative;
      margin-top: 30px;
    }
  }

  .progress {
    margin-top: 300px;
  }
}
